%rebase('agent_osnova.html', naslov='Za zaposlene')

<section class="skills my-4" data-aos="fade-up">
    <div class="section-title my-5">
        <h2>
            <p>{{ime_agenta}} {{priimek_agenta}}</p>
            <p><small>ZAVAROVALNI AGENT </small></p>
        </h2>
        <h1>DOBRODOŠLI V SPLETNI POSLOVALNICI!</h1>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col flex-column p-5">
                <h2 class="title pb-4"><b>Podatki o zavarovanjih</b> </h2>
                <p class="description">Število polic: <b>{{stevilo_polic}}</b> </p>
                <p class="description">Število komitentov: <b>{{stevilo_komitentov}}</b> </p>
                <p class="description">Število agentov: <b>{{stevilo_agentov}}</b> </p>
                <p class="description">Povprečna premija: <b>{{povprecna_premija}}</b> </p>
                <p class="description">Vsota vseh premij: <b>{{vsota_premij}}</b> </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col flex-column p-5">
                <h2 class="title pb-4"><b>Podatki o nepremičninskih zavarovanjih</b> </h2>
                <p class="description">Število polic: <b>{{stevilo_polic_n}}</b> </p>
                <p class="description">Povprečna premija: <b>{{povprecna_premija_n}}</b> </p>
                <p class="description">Vsota vseh premij: <b>{{vsota_premij_n}}</b> </p>
            </div>
            <div class="col flex-column p-5 text-center">
                <h2 class="title pb-4"><b>Podatki o življenjskih zavarovanjih</b> </h2>
                <p class="description">Število polic: <b>{{stevilo_polic_z}}</b> </p>
                <p class="description">Povprečna premija: <b>{{povprecna_premija_z}}</b> </p>
                <p class="description">Vsota vseh premij: <b>{{vsota_premij_z}}</b> </p>
            </div>
            <div class="col flex-column p-5 text-right">
                <h2 class="title pb-4"><b>Podatki o avtomobilskih zavarovanjih</b> </h2>
                <p class="description">Število polic: <b>{{stevilo_polic_a}}</b> </p>
                <p class="description">Povprečna premija: <b>{{povprecna_premija_a}}</b> </p>
                <p class="description">Vsota vseh premij: <b>{{vsota_premij_a}}</b> </p>
            </div>
        </div>
    </div>
</section>