%rebase('agent_osnova.html', naslov='Dodajanje novega življenjskega zavarovanja')

<!-- ======= Polja za vnos podatkov ======= -->
<section class="about" data-aos="fade-up">
  <div class="container" align='center'>
    <div >
      <h5>Izpolnite spodnja polja:</h5>
      <div class="napaka">
        %if napaka:
          <div class="alert alert-warning">{{napaka}}</div>
        %end
      </div>

      <form action="{{ROOT}}agent/{{emso}}/skleni_zivljenjsko" method='post' style="width: 48%">
        <div class="form-group">
          <input name="emso_komitenta" type="text" value="{{emso_komitenta}}" class="form-control" placeholder="Emšo komitenta" required 
          oninvalid="this.setCustomValidity('Prosim vnesite emso komitenta.')" oninput="setCustomValidity('')" />
        </div>     
        <div class="form-group">
            <select id="vrsta_zivljenjskega" name="vrsta_zivljenjskega" class="form-control" placeholder="Vrsta življenjskega zavarovanja" required 
          oninvalid="this.setCustomValidity('Prosim izberite vrsto življenskega zavrovanja.')" oninput="setCustomValidity('')">
              <option value="" disabled selected>Izberi vrsto življenjskega zavarovanja:</option>
              <option value="pokojninsko">Pokojninsko</option>
              <option value="invalidsko">Invalidsko</option>
              <option value="za primer brezposelnosti">Za primer brezposelnosti</option>
              <option value="za primer smrti">Za primer smrti</option>
            </select>
        </div>
        <div class="form-group">
            <input name="premija" type="float" value="{{premija}}" class="form-control" placeholder="Premija" required/>
        </div>
        <div class="text-center"> 
          <button type="submit" class="btn btn-secondary">Skleni zavarovanje</button> 
        </div>
      </form>
    </div>  
  </div>
</section>