<!-- V DATOTEKAH osnova.html, agent_osnova.html in zavarovanec_osnova.html
      SE NASTAVI HEADERJE IN FOOTERJE ZA POSEMEZNE PODSTRANI.
-->
%rebase('osnova_glavna.html')

<!-- ======= Header ======= -->
<header id="header" class="fixed-top bg-dark">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="{{ROOT}}"><span>ETM</span></a></h1>
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li><a href="{{ROOT}}agent/{{emso}}">Domov</a></li>

        <li class="drop-down"><a href="#">Dodaj</a>
          <ul>
            <li><a href="{{ROOT}}agent/{{emso}}/dodaj_komitenta">Komitenta</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/dodaj_nepremicnino">Nepremičnino</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/dodaj_avtomobil">Avtomobil</a></li>
          </ul>
        </li>

        <li class="drop-down"><a href="#">Novo zavarovanje</a>
          <ul>
            <li><a href="{{ROOT}}agent/{{emso}}/skleni_zivljenjsko">Življenjsko zavarovanje</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/skleni_nepremicninsko">Nepremičninsko zavarovanje</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/skleni_avtomobilsko">Avtomobilsko zavarovanje</a></li>
          </ul>
        </li>

        <li class="drop-down"><a href="#">Podatkovna baza</a>
          <ul>
            <li><a href="{{ROOT}}agent/{{emso}}/osebe">Osebe</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/zavarovanja">Zavarovalne police</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/avtomobili">Avtomobili</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/avtomobilska">Avtomobilska zavarovanja</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/nepremicnine">Nepremičnine</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/nepremicninska">Nepremičninska zavarovanja</a></li>
            <li><a href="{{ROOT}}agent/{{emso}}/zivljenjska">Življenjska zavarovanja</a></li>
          </ul>
        </li>
        % prijavljen_agent = ime_agenta + ' ' + priimek_agenta
        <li><a href="{{ROOT}}agent/{{emso}}/osebni_podatki">{{prijavljen_agent}}</a></li>
        <li><a href="{{ROOT}}odjava_agent/{{emso}}">Odjava</a></li>
      </ul>
    </nav>
  </div>
</header><!-- End Header -->
    
 
<main id="main">
  <!-- PAS S PODNASLOVOM-->
  <section class="breadcrumbs bg-secondary">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-light">{{naslov}}</h2>
      </div>
    </div>
  </section>

  <!-- ######## BASE #######-->
  {{!base}}
  <!-- ######## END BASE #######-->
</main> 


<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500" class="bg-dark">

  <div class="footer-top bg-dark border-dark">
    <div class="container bg-dark border-dark">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Uporabne povezave</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}">Domov</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}zaposleni">O nas</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}predstavitev_zavarovanj">Paketi zavarovanj</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Spletna poslovalnica</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}prijava_agent">Vstop za agente</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}prijava_zavarovanec">Vstop za zavarovance</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}registracija">Registracija novega komitenta</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Kontakt</h4>
          <p>
            Jadranska ulica 21 <br>
            1000 Ljubljana<br>
            Slovenija <br><br>
            <strong>Telefon:</strong> +386 1 458 3755<br>
            <strong>E-pošta:</strong> info@etm.si<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>O zavarovalnici ETM</h3>
          <p>Zavarovalnica ETM je bila ustanovljena leta 2020 v okviru projekta pri predmetu Osnove podatkovnih baz pod mentorstvom doc. dr. Alena Orbanića in asist. dr. Janoša Vidalija.</p>
        </div>

      </div>
    </div>
  </div>
</footer><!-- End Footer -->