%rebase('agent_osnova.html', naslov='Za zaposlene')

<section class="skills my-4" data-aos="fade-up">
    <div class="section-title my-5">
        <h2>
            <p>{{ime_agenta}} {{priimek_agenta}}</p>
            <p><small>ZAVAROVALNI AGENT </small></p>
        </h2>
        <h1>DOBRODOŠLI V SPLETNI POSLOVALNICI!</h1>
    </div>
</section>



<!-- ======= Facts Section ======= -->
    <section class="facts section-bg pb-0" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{stevilo_polic}}</span>
            <p>Zavarovalnih polic</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{stevilo_komitentov}}</span>
            <p>Komitentov</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{stevilo_agentov}}</span>
            <p>Agentov</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{povprecna_premija}}</span>
            <p>Povprečna plačana premija</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

<!-- ======= Service Details Section ======= -->
<section class="service-details">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
                <div class="card-img">
                <img src="{{ROOT}}static/img/portfolio/hisa-roke.jpeg" alt="...">
                </div>
                <div class="card-body">
                <h4 class="card-title">NEPREMIČNISKA ZAVAROVANJA</h4>
                <p class="card-text">Število polic: <b>{{stevilo_polic_n}}</b> </p>
                <p class="card-text">Povprečna premija: <b>{{povprecna_premija_n}}</b> </p>
                <p class="card-text">Vsota vseh premij: <b>{{vsota_premij_n}}</b> </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
                <div class="card-img">
                <img src="{{ROOT}}static/img/portfolio/zivlj-roke.jpg" alt="...">
                </div>
                <div class="card-body">
                <h4 class="card-title">ŽIVLJENSKA ZAVAROVANJA</h4>
                <p class="card-text">Število polic: <b>{{stevilo_polic_z}}</b> </p>
                <p class="card-text">Povprečna premija: <b>{{povprecna_premija_z}}</b> </p>
                <p class="card-text">Vsota vseh premij: <b>{{vsota_premij_z}}</b> </p>
                </div>
        </div>

            </div>
            <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
                <div class="card-img">
                <img src="{{ROOT}}static/img/portfolio/kasko_plus.jpg" alt="...">
                </div>
                <div class="card-body">
                <h4 class="card-title">AVTOMOBILSKA ZAVAROVANJA</h4>
                <p class="card-text">Število polic: <b>{{stevilo_polic_a}}</b> </p>
                <p class="card-text">Povprečna premija: <b>{{povprecna_premija_a}}</b> </p>
                <p class="card-text">Vsota vseh premij: <b>{{vsota_premij_a}}</b> </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    </section><!-- End Service Details Section -->








