%rebase('agent_osnova.html', naslov='Avtomobili')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table class="table table-hover" width="100%">
      <thead class="glava_tabele">
        <tr style="text-align:center;">
          <th>Registrska številka</th>
          <th>Znamka</th>
          <th>Model</th>
          <th>Vrednost</th>
          <th>Urejanje</th>
        </tr>
      </thead>

      %for (registrska,znamka,model,vrednost) in avtomobili: 
      <tbody class="jedro_tabele">
        <tr>
          <td>{{registrska}}</td>
          <td>{{znamka}}</td>
          <td>{{model}}</td>
          <td>{{vrednost}}</td>
          <td><a type="button" class="btn btn-dark" href="{{ROOT}}agent/{{emso}}/urejanje_avtomobila/{{registrska}}">Uredi</a></td>
        </tr>
      </tbody>
      %end
      </table>
  </div>
</section>
