%rebase('osnova.html', naslov='Registracija novega uporabnika')

<!-- ======= Začetna vrstica ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Registracija novega zavarovanca</h2>
    </div>
  </div>
</section><!-- End Začetna vrstica -->


<!-- ======= Polja za vnos podatkov ======= -->
<section class="about" data-aos="fade-up">
  <div class="container">
    <div  align="center">
      <h5>Za registracijo izpolnite spodnja polja:</h5>
      <div class="napaka">
        %if napaka:
          <div class="alert alert-warning">{{napaka}}</div>
        %end
      </div>
      <form action="{{ROOT}}dodaj_osebo" class="php-email-form prijava_center" method='POST' style="width: 48%">
        <div class="form-group">
          <input name="emso" type="text" value="{{emso}}" class="form-control" placeholder="EMŠO" data-rule="minlen:4" required 
          oninvalid="this.setCustomValidity('Prosim vnesite emšo.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="ime" type="text" value="{{ime}}" class="form-control" placeholder="Ime" required 
          oninvalid="this.setCustomValidity('Prosim vnesite ime.')" oninput="setCustomValidity('')"/>
        </div>
        <div class="form-group">
          <input name="priimek" type="text" value="{{priimek}}" class="form-control" placeholder="Priimek"  required 
          oninvalid="this.setCustomValidity('Prosim vnesite priimek.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input <input name="naslov" type="text" value="{{naslov}}" class="form-control" placeholder="Naslov" data-rule="minlen:4" required 
          oninvalid="this.setCustomValidity('Prosim vnesite naslov stalnega prebivališča.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="email" type="text" value="{{email}}" class="form-control" placeholder="Elektronski naslov"/>
        </div>
        <div class="form-group">
          <input name="rojstvo" type="date" value="{{rojstvo}}" class="form-control" placeholder="Rojstni datum" data-rule="minlen:4" required 
          oninvalid="this.setCustomValidity('Prosim vnesite veljaven rojstni datum.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="telefon" type="text" value="{{telefon}}" class="form-control" placeholder="Telefonska številka"/>
        </div>
        
        <!--
        <input type="password" class="form-control" placeholder="Geslo" name="geslo1" required>
        <input type="password" class="form-control" placeholder="Potrdi geslo" name="geslo2" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button>
        <div>
            <a href="/prijava_zavarovanec/">Prijava</a>
        </div>
        -->

        <div class="text-center">
          <input value='Registriraj se' type='submit' /> <br> <br>
          <a href="{{ROOT}}prijava_zavarovanec">PO USPEŠNI REGISTRACIJI, SE PRIJAVITE</a>
        </div>
        
      </form>
    </div>  
  </div>
</section>