%rebase('osnova.html', naslov='Dodaj osebo')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

<!-- Gumb za dodajanje novih oseb (pri name je _in, da se ve da je input) --> 
<form action="{{ROOT}}dodaj_osebo" method="POST">
    <p>EMŠO: <input name="emso" type="text" value="{{emso}}"></p>
    <p>Ime: <input name="ime" type="text" value="{{ime}}"></p>
    <p>Priimek: <input name="priimek" type="text" value="{{priimek}}"></p>
    <p>Naslov: <input name="naslov" type="text" value="{{naslov}}"></p>
    <p>Elektronski naslov: <input name="email" type="text" value="{{email}}"></p>
    <p>Rojstni datum: <input name="rojstvo" type="date" value="{{rojstvo}}"></p>
    <p>Telefonska številka: <input name="telefon" type="text" value="{{telefon}}"></p>
    <!-- <p>Zaposlen: <input name="zaposleni" type="checkbox" value="{{zaposleni}}"></p> -->
    <p><input value="Dodaj osebo" type="submit"> </p> 
</form>

