%rebase('osnova.html', naslov='Glavna stran')

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 (osnovni)-->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Dobrodošli v zavarovalnici <span>ETM</span></h2>
          <p class="animate__animated animate__fadeInUp">Zavarovalnica ETM je bila ustanovljena leta 2020 v okviru projekta pri predmetu Osnove podatkovnih baz pod mentorstvom doc. dr. Alena Orbanića in asist. dr. Janoša Vidalija.</p>
          <a href="https://github.com/matejske/OPB-zavarovalnica" class="btn-get-started animate__animated animate__fadeInUp">Ogled repozitorija</a>
        </div>
      </div>

      <!-- Slide 2 - Zivljenska zavarovanja -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Življenska zavarovanja</h2>
          <p class="animate__animated animate__fadeInUp">Zavarujte sebe in svoje najbližje že danes. Ponujamo vam štiri vrste življenskih zavarovanj: pokojninsko, invalidsko, za primer brezposelnosti ali primer smrti.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Podrobnosti</a>
        </div>
      </div>

      <!-- Slide 3 Avtomobilska zavarovanja-->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Avtomobilska zavarovanja</h2>
          <p class="animate__animated animate__fadeInUp">Ponujamo vam tri vrste avtomobilskih zavarovanj: kasko, kasko plus in avtomobilsko asistenco.</p>
          <a href="{{ROOT}}predstavitev_zavarovanj" class="btn-get-started animate__animated animate__fadeInUp">Podrobnosti</a>
        </div>
      </div>

      <!-- Slide 4 Nepremičninska zavarovanja-->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Nepremičninska zavarovanja</h2>
          <p class="animate__animated animate__fadeInUp">Omogočamo vam zavarovanje vaše nepremičnine pred požarom, potresom in/ali poplavo.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Podrobnosti</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

<!-- ======= Services Section ======= -->
<section class="services">
<div class="container">

    <div class="row">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box icon-box-pink">
        <div class="icon"><i class="bx bxl-dribbble"></i></div>
        <h4 class="title"><a href="{{ROOT}}predstavitev_zavarovanj">Širok izbor zavarovalnih storitev</a></h4>
        <p class="description">Ponujamo vam širok izbor zavarovalnih storitev, tako od premoženjskih do življenskih zavarovanj.</p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
        <div class="icon"><i class="bx bx-file"></i></div>
        <h4 class="title"><a href="{{ROOT}}zaposleni">Izkušeni in zaupanja vredni agenti</a></h4>
        <p class="description">Naši agenti so med najbolj izkušenimi na tržišču, čeprav nihče od njih nima še diplome.</p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
        <div class="icon"><i class="bx bx-tachometer"></i></div>
        <h4 class="title"><a href="{{ROOT}}predstavitev_zavarovanj">Najnižje premije v regiji</a></h4>
        <p class="description">Ponujamo najnižje premije zavarovanj v vzhodno-evropski regiji glede na raziskavo revije Financa.</p>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-blue">
        <div class="icon"><i class="bx bx-world"></i></div>
        <h4 class="title"><a href="{{ROOT}}prijava_zavarovanec">Spletna poslovalnica</a></h4>
        <p class="description">Omogočamo vam brezplačno uporabo spletne poslovalnice, kjer lahko pogledate, sklenete in preverite vsa svoja sklenjena zavarovanja.</p>
        </div>
    </div>

    </div>

</div>
</section><!-- End Services Section -->
