%rebase('zavarovanec_osnova.html', naslov='Vaša nepremičninska zavarovanja')

<section class="about aos-init" data-aos="fade-up">
  %if int(moja_nepremicninska.rowcount) != 0:
  <div class="container">
      <table id="naprednaTabela" class="table table-hover" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Številka police</th>
          <th>Datum police</th>
          <th>Vrsta nepremičninskega zavarovanja</th>
          <th>Naslov nepremičnine</th>
          <th>Plačana premija</th>
        </tr>
      </thead>
      <tbody class= "jedro_tabele">
      %for (stevilka_police, datum_police, vrsta_n, nepr_id, premija) in moja_nepremicninska:

        <tr>
          <td>{{stevilka_police}}</td>
          <td>{{datum_police}}</td>
          <td>{{vrsta_n}}</td>
          <td>{{nepr_id}}</td>
          <td>{{premija}}</td>
        </tr>
      %end
      </tbody>


      </table>
  </div>
  %else:
  <div class="container p-4">
    <div class="text-center">
        <img src="{{ROOT}}static/img/empty.jpg" style="width:20%">
    </div>
  </div>

  <div class="container p-4 text-center">
    <div>
      <h2 class="title pb-4 text-center"><b>Pri nas še nimate sklenjenih nepremičninskih zavarovanj.</b> </h2>
    </div>
    <div class="row">
      <div class="col text-centre">
        <form action="{{ROOT}}zavarovanec/{{emso}}/skleni_zavarovanje" method='get'>
          <div class="text-center">
            <button type="submit" class="btn btn-dark">Skleni zavarovanje</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
  
  %end
</section>
