%rebase('zavarovanec_osnova.html', naslov='Vaša avtomobilska zavarovanja')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table class="table table-hover" width="100%">
      <thead class="glava_tabele">
        <tr>
          <th>Številka police</th>
          <th>Datum police</th>
          <th>Vrsta avtomobilskega zavarovanja</th>
          <th>Registrska številka avtomobila</th>
          <th>Plačana premija</th>
        </tr>
      </thead>

      %for (stevilka_police, datum_police, vrsta, avto_id, premija) in moja_avtomobilska:
      <tbody class= "jedro_tabele">
        <tr>
          <td>{{stevilka_police}}</td>
          <td>{{datum_police}}</td>
          <td>{{vrsta}}</td>
          <td>{{avto_id}}</td>
          <td>{{premija}}</td>
        </tr>
      </tbody>
      %end
      </table>
  </div>
</section>