%rebase('zavarovanec_osnova.html', naslov='Vaša nepremičninska zavarovanja')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table id="naprednaTabela" class="table table-hover" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Številka police</th>
          <th>Datum police</th>
          <th>Vrsta nepremičninskega zavarovanja</th>
          <th>Naslov nepremičnine</th>
          <th>Plačana premija</th>
        </tr>
      </thead>
      <tbody class= "jedro_tabele">
      %for (stevilka_police, datum_police, vrsta_n, nepr_id, premija) in moja_nepremicninska:

        <tr>
          <td>{{stevilka_police}}</td>
          <td>{{datum_police}}</td>
          <td>{{vrsta_n}}</td>
          <td>{{nepr_id}}</td>
          <td>{{premija}}</td>
        </tr>
      %end
      </tbody>


      </table>
  </div>
</section>
