%rebase('agent_osnova.html', naslov='Nepremicninska')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table id="naprednaTabela" class="table table-hover" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Številka police</th>
          <th>Vrsta nepremičninskega zavarovanja</th>
          <th>Naslov nepremičnine</th>
        </tr>
      </thead>

      <tbody class= "jedro_tabele">
      %for (polica_id, nepr_id, vrsta_n) in nepremicninska:

        <tr>
          <td>{{polica_id}}</td>
          <td>{{vrsta_n}}</td>
          <td>{{nepr_id}}</td>
        </tr>
      %end
      </tbody>
      </table>
  </div>
</section>
