%rebase('agent_osnova.html', naslov='Nepremicnine')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table class="table table-hover" width="100%">
      <thead class="glava_tabele">
        <tr>
          <th>Naslov nepremicnine</th>
          <th>Vrednost</th>
        </tr>
      </thead>

      %for (naslov_nepr, vrednost) in nepremicnine:
      <tbody class= "jedro_tabele">
        <tr>
          <td>{{naslov_nepr}}</td>
          <td>{{vrednost}}</td>
        </tr>
      </tbody>
      %end
      </table>
  </div>
</section>


  <p>
    <a href="{{ROOT}}nepremicnine">Na vrh strani</a>
  </p>