%rebase('agent_osnova.html', naslov='Nepremicnine')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table id="naprednaTabela" class="table table-hover" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Naslov nepremicnine</th>
          <th>Vrednost</th>
          <th>Urejanje</th>
        </tr>
      </thead>
      <tbody class="jedro_tabele">
      %for (naslov_nepr, vrednost) in nepremicnine:

        <tr>
          <td>{{naslov_nepr}}</td>
          <td>{{vrednost}}</td>
          % sifra_naslov = naslov_nepr.replace('', '_')
          <td><a type="button" class="btn btn-dark" href="{{ROOT}}agent/{{emso}}/urejanje_nepremicnine/{{sifra_naslov}}">Uredi</a></td>
        </tr>

      %end
      </tbody>
      </table>
  </div>
</section>


