%rebase('agent_osnova.html', naslov='Osebe')


<!-- Tabela -->


<section class="about aos-init" data-aos="fade-up">
  <div class="container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Išči po imenih..">
      <table class="table table-hover" id="myTable" width="100%">
      <thead class="glava_tabele">
        <tr>
          <th>Emšo</th>
          <th>Ime</th>
          <th>Priimek</th>
          <th>Naslov</th>
          <th>e-pošta</th>
          <th>Rojstni datum</th>
          <th>Telefonska številka</th>
          <th>Zaposleni</th>
        </tr>
      </thead>

      %for (emso,ime,priimek,naslov,email,rojstvo,telefon,zaposleni, geslo) in osebe:
      <tbody class= "jedro_tabele">
        <tr>
          <td>{{emso}}</td>
          <td>{{ime}}</td>
          <td>{{priimek}}</td>
          <td>{{naslov}}</td>
          <td>{{email}}</td>
          <td>{{rojstvo}}</td>
          <td>{{telefon}}</td>
          <td>{{zaposleni}}</td>
        </tr>
      </tbody>
      %end
      </table>
  </div>
</section>


  <p>
    <a href="{{ROOT}}agent/{{emso}}/osebe">Na vrh strani</a>
  </p>
