%rebase('agent_osnova.html', naslov='Osebe')


<!-- Tabela -->
<section class="about aos-init" data-aos="fade-up">
  <div class="container-fluid table-responsive">
      <table id="naprednaTabela" class="table table-hover" id="myTable" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Emšo</th>
          <th>Ime</th>
          <th>Priimek</th>
          <th>Naslov</th>
          <th>e-pošta</th>
          <th>Rojstni datum</th>
          <th>Telefonska številka</th>
          <th>Urejanje</th>
        </tr>
      </thead>
      <tbody class= "jedro_tabele">
      %for (emso_komitenta,ime,priimek,naslov,email,rojstvo,telefon,zaposleni) in osebe:

        <tr>
          <td>{{emso_komitenta}}</td>
          <td>{{ime}}</td>
          <td>{{priimek}}</td>
          <td>{{naslov}}</td>
          <td>{{email}}</td>
          <td>{{rojstvo}}</td>
          <td>{{telefon}}</td>
          <td><a type="button" class="btn btn-dark" href="{{ROOT}}agent/{{emso}}/urejanje_komitenta/{{emso_komitenta}}">Uredi</a></td>
        </tr>
      %end
      </tbody>

      </table>
  </div>
</section>
