%rebase('osnova.html', naslov='Osebe')

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Emšo</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Naslov</th>
     <th>e-pošta</th>
     <th>Rojstni datum</th>
     <th>Telefonska številka</th>
     <th>Zaposleni</th>
  </tr>
  %for (emso,ime,priimek,naslov,email,rojstvo,telefon,zaposleni) in osebe:
    <tr>
       <td>{{emso}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{naslov}}</td>
       <td>{{email}}</td>
       <td>{{rojstvo}}</td>
       <td>{{telefon}}</td>
       <td>{{zaposleni}}</td>
    </tr>
  %end
  </table>

  <p>
    <a href="{{ROOT}}osebe/">Osebe</a>
  </p>
