<!-- V DATOTEKAH osnova.html, agent_osnova.html in zavarovanec_osnova.html
      SE NASTAVI HEADERJE IN FOOTERJE ZA POSEMEZNE PODSTRANI.
-->
%rebase('osnova_glavna.html')

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="{{ROOT}}"><span>ETM</span></a></h1>
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li><a href="{{ROOT}}">Domov</a></li>
        <li><a href="{{ROOT}}zaposleni">O zaposlenih</a></li>
        <li><a href="{{ROOT}}predstavitev_zavarovanj">Zavarovanja</a></li>
        <li class="drop-down"><a href="#">Spletna poslovalnica</a>
          <ul>
            <li><a href="{{ROOT}}prijava_agent">Vstop za agente</a></li>
            <li><a href="{{ROOT}}prijava_zavarovanec">Vstop za zavarovance</a></li>
            <li><a href="{{ROOT}}registracija">Registracija </a></li>
          </ul>
        </li>
        <li><a href="{{ROOT}}kontakt">Kontakt</a></li>
      </ul>
    </nav>

  </div>
</header><!-- End Header -->




<main id="main">
  {{!base}}
</main> 





<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Uporabne povezave</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}">Domov</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}zaposleni">O nas</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}predstavitev_zavarovanj">Paketi zavarovanj</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Spletna poslovalnica</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}prijava_agent">Vstop za agente</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}prijava_zavarovanec">Vstop za zavarovance</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{{ROOT}}registracija">Registriraj se</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Kontakt</h4>
          <p>
            Jadranska ulica 21 <br>
            1000 Ljubljana<br>
            Slovenija <br><br>
            <strong>Telefon:</strong> +386 1 458 3755<br>
            <strong>E-pošta:</strong> info@etm.si<br>
          </p>

        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>O zavarovalnici ETM</h3>
          <p>Zavarovalnica ETM je bila ustanovljena leta 2020 v okviru projekta pri predmetu Osnove podatkovnih baz pod mentorstvom doc. dr. Alena Orbanića in asist. dr. Janoša Vidalija.</p>
        </div>

      </div>
    </div>
  </div>
</footer><!-- End Footer -->
