%rebase('osnova.html', naslov='Predstavitev zavarovanj')
    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Vrste zavarovanj</h2>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Section ======= -->
    <section class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Vsa zavarovanja</li>
              <li data-filter=".filter-app">Življenska</li>
              <li data-filter=".filter-card">Avtomobilska</li>
              <li data-filter=".filter-web">Nepremičninska</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <!--Avtomobilska zavarovanja-->
          <div class="col-lg-4 col-md-6 filter-card">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/kasko.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Kasko</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-card">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/kasko_plus.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Kasko plus</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-card">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/asistenca.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Avtomobilska asistenca</h3>
                
              </div>
            </div>
          </div><!--End Avtomobilska zavarovanja-->

        <!--Zivljenska zavarovanja-->
          <div class="col-lg-4 col-md-6 filter-app">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/pokojninsko.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Pokojninsko</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-app">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/invalidsko.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Invalidsko</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-app">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/brezposelnost.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Za primer brezposelnosti</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-app">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/smrti.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Za primer smrti</h3>
                
              </div>
            </div>
          </div><!--End Zivljenska zavarovanja-->


        <!--Nepremičninska zavarovanja-->  
          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/poplava.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Poplava</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/potres.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Potres</h3>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 filter-web">
            <div class="portfolio-item">
              <img src="{{ROOT}}static/img/portfolio/pozar.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Požar</h3>
                
              </div>
            </div>
          </div><!--End nepremicninska zavarovanja-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->