%rebase('osnova.html', naslov='Prijava za zavarovanca')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

<!-- ======= Začetna vrstica ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Vstop v spletno poslovalnico za zavarovance</h2>
    </div>

  </div>
</section><!-- End Začetna vrstica -->

<!-- ======= Slika in prijavna polja ======= -->
<section class="about" data-aos="fade-up">
  <div class="container">
    <div class="row">
      <!-- ======= Slika ======= -->
      <div class="col-lg-6" align="center">
        <img src="{{ROOT}}static/img/logo.png" class="img-fluid" alt="">
      </div>
      <!-- ======= Prijavna polja ======= -->
      <div class="col-lg-6" align="center">
        <h5>Za vstop v spletno zavarovalnico vnesite EMŠO in geslo</h5>
        <form action='{{ROOT}}prijava_agent/' class="php-email-form prijava_center" method='POST' style="width: 50%">
          <div class="form-group">
            <input name='emso' type='text' value="{{emso}}" class="form-control" placeholder="EMŠO" data-rule="minlen:4" data-rule="required" />
          </div>
          <div class="form-group">
            <input name='geslo' type='password' value="{{geslo}}" class="form-control" placeholder="GESLO" data-rule="minlen:4" data-rule="required"/>
          </div>
          <div class="text-center">
            <input value='Prijava' type='submit' /> <br> <br>
            <a href="{{ROOT}}">PRESKOČI PRIJAVO</a>
          </div>
        </form>
      </div>  

    </div>
  </div>
</section><!-- End Slika in prijavna polja -->


