%rebase('osnova.html', naslov='Registracija novega uporabnika')


<!-- ======= Začetna vrstica ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Registracija novega zavarovanca</h2>
    </div>
  </div>
</section><!-- End Začetna vrstica -->


<!-- ======= Polja za vnos podatkov ======= -->
<section class="about" data-aos="fade-up">
  <div class="container" align='center'>
    <div>
      <h5>Še nimate računa? Za registracijo izpolnite spodnja polja.</h5>
      <form action="{{ROOT}}registracija" method='post' style="width: 48%">
        %if napaka:
          <div class="alert alert-warning">{{napaka}}</div>
        %end
        <div class="form-group">
          <input name="emso" type="text" value="{{emso}}" class="form-control" placeholder="EMŠO" required 
          oninvalid="this.setCustomValidity('Prosim vnesite veljaven EMŠO.')" oninput="setCustomValidity('')" autocomplete="off"/>
        </div>
        <div class="form-group">
          <input name="ime" type="text" value="{{ime}}" class="form-control" placeholder="Ime" required
          oninvalid="this.setCustomValidity('Prosim vnesite vaše ime.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="priimek" type="text" value="{{priimek}}" class="form-control" placeholder="Priimek"  required 
          oninvalid="this.setCustomValidity('Prosim vnesite vaš priimek.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="naslov" type="text" value="{{naslov}}" class="form-control" placeholder="Naslov" required
          oninvalid="this.setCustomValidity('Prosim vnesite vaš naslov.')" oninput="setCustomValidity('')"  />
        </div>
        <div class="form-group">
          <input name="email" type="email" value="{{email}}" class="form-control" placeholder="Elektronski naslov"
          autocomplete="off"/>
        </div>
        <div class="form-group">
          <input name="rojstvo" type="date" value="{{rojstvo}}" class="form-control" placeholder="Rojstni datum" required 
          oninvalid="this.setCustomValidity('Prosim vnesite veljaven rojstni datum.')" oninput="setCustomValidity('')"/>
        </div>
        <div class="form-group">
          <input name="telefon" type="text" value="{{telefon}}" class="form-control" placeholder="Telefonska številka"/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Geslo" name="geslo1" required
          oninvalid="this.setCustomValidity('Prosim vnesite geslo.')" oninput="setCustomValidity('')" autocomplete="off"/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Potrdi geslo" name="geslo2" required
          oninvalid="this.setCustomValidity('Prosim ponovno vnesite geslo.')" oninput="setCustomValidity('')" autocomplete="off"/>
        </div>
        
        <div class="text-center"> 
          <button type="submit" class="btn btn-dark mt-2">Registriraj se</button> 
        </div>
        
      </form>
    </div>  
  </div>
</section>