%rebase('osnova.html', naslov='Sklenitev avtomobilskega zavarovanja')

%if napaka:
    <div class="alert alert-warning">{{napaka}}</div>
%end


<!-- Polja za dodajanje novih kasko plus zavarovanj  --> 
<section class="about" data-aos="fade-up">
  <div class="container" align="center" >
    <div >
      <h5>Za sklenitev avtomobilskega zavarovanja prosim izpolnite spodnja polja.
          Vaša premija bo 5% vrednosti avtomobila.</h5>
      <form action="{{ROOT}}sklenitev_kaskoplus"  method='post' style="width: 48%"> <!-- class="php-email-form prijava_center"-->
        <div class="form-group">
          <input name="registrska" type="number" value="{{registrska}}" class="form-control" placeholder="Registrska tablica" data-rule="minlen:3" data-rule="required" />
        </div>
        <div class="form-group">
          <input name="znamka" type="text" value="{{znamka}}" class="form-control" placeholder="Znamka avtomobila" data-rule="required"/>
        </div>
        <div class="form-group">
          <input name="model" type="text" value="{{model}}" class="form-control" placeholder="Model avtomobila"  data-rule="required" />
        </div>
        <div class="form-group">
          <input name="vrednost" type="float" value="{{vrednost}}" class="form-control" placeholder="Vrednost avtomobila" data-rule="minlen:3" data-rule="required" />
        </div>
        <div class="text-center"> 
          <input value='Skleni zavarovanje!' type='submit'/>
        </div>
      </form>
    </div>  
  </div>
</section>