%rebase('zavarovanec_osnova.html', naslov='Skleni zavarovanje')
 
  <!-- ======= Portfolio Section ======= -->
  <section class="portfolio">
    <div class="container">
  
      <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

      <!--Zivljenjska zavarovanja-->  
        <div class="col-lg-4 col-md-6">
          <div class="portfolio-item">
            <a href="{{ROOT}}zavarovanec/{{emso}}/skleni_zivljenjsko">
              <img src="{{ROOT}}static/img/portfolio/smrti.png" class="img-fluid" alt="">
            
              <div class="portfolio-info">
                <h3 style="color: #ffffff;">Življenjsko zavarovanje</h3>
              
              </div>
            </a>
          </div>
        </div><!--End Zivljenska zavarovanja-->
  
  
      <!--Nepremičninska zavarovanja-->    
        <div class="col-lg-4 col-md-6">
            <a href="{{ROOT}}zavarovanec/{{emso}}/skleni_nepremicninsko">
                <div class="portfolio-item">
                    <img src="{{ROOT}}static/img/portfolio/potres.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3 style="color: #ffffff;">Nepremičninsko zavarovanje</h3>
                    </div>
                </div>        
            </a>
        </div> <!--End Nepremičninska zavarovanja--> 

      <!--Avtomobilska zavarovanja-->  
        <div class="col-lg-4 col-md-6">
            <a href="{{ROOT}}zavarovanec/{{emso}}/skleni_avtomobilsko">
                <div class="portfolio-item">
                    <img src="{{ROOT}}static/img/portfolio/kasko_plus.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h3 style="color: #ffffff;">Avtomobilsko zavarovanje</h3>
                    </div>
                </div>

            </a>
        </div><!--End Avtomobilska zavarovanja-->
  
      </div>
  
    </div>
  </section><!-- End Portfolio Section -->