%rebase('osnova.html', naslov='Sklenitev avtomobilskega zavarovanja')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

Za sklenitev avtomobilskega zavarovanja prosim izpolnite spodnja polja.
Vaša premija bo 5% vrednosti avtomobila.
<!-- Polja za dodajanje novih oseb  --> 
<form action="{{ROOT}}sklenitev_avtomobilsko" method="POST">
    <p>Številka police: <input name="stevilka_police" type="number" value="{{stevilka_police}}"></p>
    <p>EMŠO: <input name="emso" type="text" value="{{emso}}"></p>
    <p>Registrska tablica: <input name="registrska" type="number" value="{{registrska}}"></p>
    <p>Znamka avtomobila: <input name="znamka" type="text" value="{{znamka}}"></p>
    <p>Model avtomobila: <input name="model" type="text" value="{{model}}"></p>
    <p>Vrednost avtomobila: <input name="vrednost" type="number" value="{{vrednost}}"></p>
    <p>Vrsta avtomobilskega zavarovanja: <input name="vrsta_avto" type="text" value="{{vrsta_avto}}"></p>
    <p><input value="Skleni zavarovanje" type="submit"> </p> 
</form>