%rebase('osnova.html', naslov='Sklenitev avtomobilskega zavarovanja')

%if napaka:
    <div class="alert alert-warning">{{napaka}}</div>
%end


<!-- Polja za dodajanje novih kasko plus zavarovanj  --> 
<section class="about" data-aos="fade-up">
  <div class="container" align="center" >
    <div >
      <h5>Za sklenitev avtomobilskega zavarovanja prosim izpolnite spodnja polja.
          Vaša premija bo 5% vrednosti avtomobila.</h5>
      <form action="{{ROOT}}sklenitev_kaskoplus"  method='post' style="width: 48%"> <!-- class="php-email-form prijava_center"-->
        <div class="form-group">
          <input name="registrska" type="number" value="{{registrska}}" class="form-control" placeholder="Registrska številka avtomobila" required 
          oninvalid="this.setCustomValidity('Prosim vnesite registrsko številko avtomobila.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="znamka" type="text" value="{{znamka}}" class="form-control" placeholder="Znamka avtomobila" required 
          oninvalid="this.setCustomValidity('Prosim vnesite znamko avtomobila.')" oninput="setCustomValidity('')"/>
        </div>
        <div class="form-group">
          <input name="model" type="text" value="{{model}}" class="form-control" placeholder="Model avtomobila"  required 
          oninvalid="this.setCustomValidity('Prosim vnesite model avtomobila.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
          <input name="vrednost" type="float" value="{{vrednost}}" class="form-control" placeholder="Vrednost avtomobila" required 
          oninvalid="this.setCustomValidity('Prosim vnesite tržno vrednost avtomobila.')" oninput="setCustomValidity('')" />
        </div>
        <div class="text-center"> 
          <button type="submit" class="btn btn-dark">Skleni zavarovanje</button> 
        </div>
      </form>
    </div>  
  </div>
</section>