%rebase('zavarovanec_osnova.html', naslov='Sklenitev življenjskega zavarovanja')

<!-- ======= Polja za vnos podatkov ======= -->
<section class="about" data-aos="fade-up">
  <div class="container" align='center'>
    <div >
      <h5>Izpolnite spodnja polja:</h5>
      <div class="napaka">
        %if napaka:
          <div class="alert alert-warning">{{napaka}}</div>
        %end
      </div>
      <form name="skleni_zivl" action="{{ROOT}}zavarovanec/{{emso}}/skleni_zivljenjsko" method='post' style="width: 48%">
        <div class="form-group">
            <select id="vrsta_zivljenjskega" name="vrsta_zivljenjskega" class="form-control" placeholder="Vrsta življenjskega zavarovanja" required 
            oninvalid="this.setCustomValidity('Prosim izberite vrsto življenjskega zavarovanja.')" oninput="setCustomValidity('');izracunajPremijoZivljensko()">
              <option value="" disabled selected>Izberi vrsto življenjskega zavarovanja:</option>
              <option value="pokojninsko">Pokojninsko</option>
              <option value="invalidsko">Invalidsko</option>
              <option value="za primer brezposelnosti">Za primer brezposelnosti</option>
              <option value="za primer smrti">Za primer smrti</option>
            </select>
        </div>
        <div class="alert alert-light pb-2 mb-1 pt-0">
          <output name="rezultat">
        </div>
        <div class="text-center"> 
          <button type="submit" class="btn btn-dark">Skleni zavarovanje</button> 
        </div>
      </form>
    </div>  
  </div>
</section>