%rebase('zavarovanec_osnova.html', naslov='Sklenitev nepremičninskega zavarovanja')



<!-- ======= Polja za vnos podatkov ======= -->
<section class="about" data-aos="fade-up">
  <div class="container" align='center'>
    <div>
      <h5>Izpolnite spodnja polja:</h5>
      <div class="napaka">
        %if napaka:
          <div class="alert alert-warning">{{napaka}}</div>
        %end
      </div>

      <form action="{{ROOT}}zavarovanec/{{emso}}/skleni_nepremicninsko" method='post' style="width: 48%">
        <div class="form-group">
          <input name="naslov_nepr" type="text" value="{{naslov_nepr}}" class="form-control" placeholder="Naslov nepremičnine" data-rule="minlen:4" required 
          oninvalid="this.setCustomValidity('Prosim vnesite naslov nepremičnine.')" oninput="setCustomValidity('')" />
        </div>
        <div class="form-group">
            <select id="vrsta_nepremicninskega" name="vrsta_nepremicninskega" class="form-control" placeholder="Vrsta nepremičninskega zavarovanja" required 
          oninvalid="this.setCustomValidity('Prosim izberite vrsto nepremičninskega zavarovanja.')" oninput="setCustomValidity('')">
              <option value="" disabled selected>Izberi vrsto nepremičninskega zavarovanja:</option>
              <option value="pozar">Požar</option>
              <option value="potres">Potres</option>
              <option value="poplava">Poplava</option>
            </select>
        </div>
        <div class="text-center"> 
          <input value='Skleni zavarovanje' type='submit' /><br> <br>
        </div>
      </form>
    </div>  
  </div>
</section>