%rebase('osnova.html', naslov='Vaša zavarovanja')

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Številka police</th>
     <th>EMŠO komitenta</th>
     <th>Datum sklenitve</th>
     <th>Premija</th>
     <th>Tip zavarovanja</th>
  </tr>
  %for (stevilka_police,komitent_id,datum_police,premija,tip_zavarovanja) in zavarovanja_posameznik:
    <tr>
       <td>{{stevilka_police}}</td>
       <td>{{komitent_id}}</td>
       <td>{{datum_police}}</td>
       <td>{{premija}}</td>
       <td>{{tip_zavarovanja}}</td>
    </tr>
  %end
  </table>
