%rebase('zavarovanec_osnova.html', naslov='Osebni podatki')

<section class="why-us section-bg aos-init aos-animate" data-aos="fade-up">
  <div class="container">
    <div class="row">
    
      <!-- SLIKA -->
      <div class="col-lg-6 video-box">
        <img src="{{ROOT}}static/img/podatki.png" class="img-fluid">
      </div>

      <!-- IZPIS OSEBNIH PODATKOV-->
      <div class="col-lg-6 flex-column p-5">
          <h2 class="title pb-4"><b>{{ime}} {{priimek}}</b> </h2>
          <p class="description">EMŠO: <b>{{emso}}</b> </p>
          <p class="description">Rojstni datum: <b>{{rojstvo}}</b> </p>
          <p class="description">Naslov: <b>{{naslov}}</b> </p>
          <p class="description">E-mail: <b>{{email}}</b> </p>
          <p class="description">Telefonska številka: <b>{{telefon}}</b> </p>
          <a type="button" class="btn btn-dark" href="{{ROOT}}zavarovanec/{{emso}}/urejanje_podatkov">Uredi podatke</a>
      </div>
    </div>
  </div>
</section>