%rebase('agent_osnova.html', naslov='Življenjska zavarovanja')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table class="table table-hover" width="100%">
      <thead class="glava_tabele">
        <tr>
          <th>Številka police</th>
          <th>Vrsta življenjskega zavarovanja</th>
        </tr>
      </thead>

      %for (polica_id,vrsta_zivlj) in zivljenska:
      <tbody class= "jedro_tabele">
        <tr>
          <td>{{polica_id}}</td>
          <td>{{vrsta_zivlj}}</td>
        </tr>
      </tbody>
      %end
      </table>
  </div>
</section>


  <p>
    <a href="{{ROOT}}zivljenjska">Na vrh strani</a>
  </p>