%rebase('agent_osnova.html', naslov='Življenjska zavarovanja')

<section class="about aos-init" data-aos="fade-up">
  <div class="container">
      <table id="naprednaTabela" class="table table-hover" width="100%">
      <thead class="glava_tabele" style="text-align:center;">
        <tr>
          <th>Številka police</th>
          <th>Vrsta življenjskega zavarovanja</th>
        </tr>
      </thead>
      <tbody class= "jedro_tabele">
      %for (polica_id,vrsta_zivlj) in zivljenjska:

        <tr>
          <td>{{polica_id}}</td>
          <td>{{vrsta_zivlj}}</td>
        </tr>
      %end
      </tbody>

      </table>
  </div>
</section>
